@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>

    <div id="gridContainer"></div>

    <script>
        $(function () {
            $("#gridContainer").dxDataGrid({
                dataSource: {
                    load: function () {
                        return $.ajax({
                            url: "/api/ProductsAPI",
                            method: "GET"
                        });
                    },
                    update: function (key, values) {
                        var url, method;

                        if (values.stockLevel !== undefined) {
                            url = "/api/ProductsAPI/" + key.productId;
                            method = "PATCH";
                        } else {
                            url = "/api/ProductsAPI/" + key.productId;
                            method = "PUT";
                        }

                        return $.ajax({
                            url: url,
                            method: method,
                            data: JSON.stringify(values),
                            contentType: "application/json"
                        });
                    }

                },
                columns: [
                    {
                        dataField: "productId",
                        caption: "Product ID",
                        allowEditing: false
                    },
                    {
                        dataField: "productName",
                        caption: "Product Name",
                        validationRules: [{ type: "required", message: "Product name is required." }]
                    },
                    {
                        dataField: "productDescription",
                        caption: "Product Description",
                        validationRules: [{ type: "required", message: "Product description is required." }]
                    },
                    {
                        dataField: "stockLevel",
                        caption: "Stock Level",
                        validationRules: [{ type: "required", message: "Stock level is required." }]
                    }
                ],

                paging: {
                    pageSize: 10
                },
                filterRow: {
                    visible: true
                },
                groupPanel: {
                    visible: true
                },
                sorting: {
                    mode: "multiple"
                },
                editing: {
                    mode: "row",
                    allowUpdating: true
                }
            });

        });
    </script>
</div>
